body{
    background-color: #f1f5f8;
    font-family: sans-serif;

}
main{
    margin: 0 auto;
    width: 600px;

}
main>h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #c59d5f;
   

   
}
section>div{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;

}
section>div>div{
    display: flex;
    justify-content: space-between;
}
section>div>div h2{
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
}
#btn1, #btn2, #btn3 {
    border: 2px solid #c59d5f;
    font-size: x-large;
    color: #c59d5f;
    padding: 0 15px;
   
}
section>div>div p{
    display: none;
    padding-top: 10px;
    border-top: 1px solid rgba(94, 84, 84, 0.438);
    color: slategrey;
}
#btn1:hover{
    transform: rotate(90deg);
    transition: 0.5s;
    cursor: pointer;

}
#btn2:hover{
    transform: rotate(90deg);
    transition: 0.5s;
    cursor: pointer;

}
#btn3:hover{
    transform: rotate(90deg);
    transition: 0.5s;
    cursor: pointer;

}




